Hello Learners ðŸ™‚ 
Python Collections (Arrays) {Python Built-in data types}
There are four collection data types in Python Programming Language :
1. List
2. Tuple â–º
3. Set
4. Dictionary

2. Tuple 
Definition :
â–º Tuples are used to store multiple items in a single variable. 
â–º Tuple is one of the 4 built-in data types in Python used to store collection of data.
â–º A tuple is a collection which is ordered and unchangeable.
â–º Tuples are written with round brackets ().

2.1 â–º Create a Tuple

In [2]:
my_tuple = ("BMW","FORD","AUDI")
print(my_tuple)

('BMW', 'FORD', 'AUDI')

2.2 â–º Tuple Items 
Tuple items are ordered, unchangable and allow duplicate values.

In [3]:
my_tuple = ("BMW","FORD","AUDI","BMW","AUDI","TATA")
print(my_tuple)

('BMW', 'FORD', 'AUDI', 'BMW', 'AUDI', 'TATA')

2.3 â–º Tuple Length
To determine how many items a tuple has , we will use len() function.

In [5]:
my_tuple = ("BMW","FORD","AUDI","TATA")
print(len(my_tuple))

4

2.4 â–º Create a tuple with one item & Type 
To create a tuple with only one item, you have to add a comma after the item,
 otherwise Python will not recognize it as a tuple.

In [7]:
my_tuple = ("Simplified_Learner",)
print(my_tuple)
print(type(my_tuple))

('Simplified_Learner',)
<class 'tuple'>

In [8]:
#NOT A TUPLE
my_tuple = ("Simplified_Learner")
print(my_tuple)
print(type(my_tuple))

Simplified_Learner
<class 'str'>

2.5 â–º Tuple Items - Data types
Tuple items can be of any data type:
A tuple can contain different data types:
A tuple with strings, integers and boolean values:

In [9]:
#Tuple items can be of any data type:
tuple1 = ("BMW","FORD","AUDI","TATA")
tuple2 = (1,5,8,79,100,895)
tuple3 = (True, False, False, True)

print(tuple1)
print(tuple2)
print(tuple3)

('BMW', 'FORD', 'AUDI', 'TATA')
(1, 5, 8, 79, 100, 895)
(True, False, False, True)

In [10]:
# A tuple can contain different data types:
# A tuple with strings, integers and boolean values:

my_tuple = ("abc","Hello",25,True,"Simplified_Learner",-1,False)
print(my_tuple)

('abc', 'Hello', 25, True, 'Simplified_Learner', -1, False)

2.6 â–º Access Tuple Items
We can access tuple items by referring to the index number, inside square brackets:
NOTE : The first has index 0

In [21]:
my_tuple = ("abc","Hello",25,True,"Simplified_Learner",-1,False)
print(my_tuple[2])

25

â–º Negative Indexing
means start from end, -1 refers to last items ,-2 second last and so on

In [11]:
my_tuple = ("abc","Hello",25,True,"Simplified_Learner",-1,"I am at last")
print(my_tuple[-3])

Simplified_Learner

â–º Range if Indexes
we can get a range of indexes by specifying where to start and end.
The return values will be a new tuple

In [22]:
my_tuple = ("Apple","Banana","China","India","Mango","America",15,True,"Simplified Learner")
print(len(my_tuple))

#positive range
print(my_tuple[2:6])

#negative range
print(my_tuple[-9 : -1 ])

9
('China', 'India', 'Mango', 'America')
('Apple', 'Banana', 'China', 'India', 'Mango', 'America', 15, True)

NOTE : Remember that the search will start at index we specify and end at index just before the index we have specified.

In [20]:
my_tuple = ("Apple","Banana","China","India","Mango","America",15,True,"Simplified Learner")
#start from beginning to index 4(not included)
print(my_tuple[:4])

print(my_tuple[2:6])

print(my_tuple[-6:-2])

#start from index 4(Mango) to the end
print(my_tuple[4:])

('Apple', 'Banana', 'China', 'India')
('China', 'India', 'Mango', 'America')
('India', 'Mango', 'America', 15)
('Mango', 'America', 15, True, 'Simplified Learner')

2.7 â–º Check if Item Exists
To determine if a specified item is present in a tuple use the 'in' keyword:

In [24]:
my_tuple = ("Apple","Banana","China","India","Mango","America",15,True,"Simplified Learner")
if "Mango" in my_tuple:
    print("Yes, 'Mango' is in the tuple.")

Yes, 'Mango' is in the tuple.

In [29]:
# suppose if item is in the tuple
my_tuple = ("Apple","Banana","China","India","Mango","America",15,True,"Simplified Learner")
if "DELHI" in my_tuple:
    print("Yes, Item is in the tuple.")
else:
    print("Item is not in the tuple")

Item is not in the tuple

2.8 â–º Update Tuples
â†’ Tuples are unchangeable, that means we cannot change, add, or remove items once the tuple is created.
â†’ Tuples are unchangeable or immutable
â†’ But there are some alternatives, we can convert the tuple into a list, 
change the list, and convert the list back into a tuple.

In [34]:
#change "Banana" to "Pineapple"
x = ("Apple","Banana","America","India","Mango","America","Simplified Learner")

y = list(x)
#print(y)

y[1] = "Pineapple"
#print(y)

x = tuple(y)
print(x)

('Apple', 'Pineapple', 'America', 'India', 'Mango', 'America', 'Simplified Learner')

â–º Add Items
Since tuples are immutable, they do not have a build-in append() method, 
but there are other ways to add items to a tuple.

1. Convert into a list: 
 we can convert tuple into a list, add our item(s), and convert it back into a tuple.
 Example : Convert the tuple into a list, add "Bangalore", and convert it back into a tuple

In [38]:
x = ("Apple","Banana","America","India","Mango","America","Simplified Learner")
y = list(x)
#print(y)

y.append("Bangalore") #append method add items to last
#print(y)

x = tuple(y)
print(x)

('Apple', 'Banana', 'America', 'India', 'Mango', 'America', 'Simplified Learner', 'Bangalore')

2. Add tuple to a tuple.
 We are allowed to add tuples to tuples, so if we want to add one item, (or many),
  create a new tuple with the item(s), and add it to the existing tuple:

Example: Create a new tuple with the value "Bangalore", and add that tuple

NOTE: When creating a tuple with only one item, remember to include a comma after the item,
 otherwise it will not be identified as a tuple.

Example : Create a new tuplr with the value "Bangalore", and add this tuple

In [41]:
x = ("Apple","Banana","America","India","Mango","America","Simplified Learner")
# y = ("Bangalore") # if not added comma it will not be a tuple
y = ("Bangalore",) #create a new tuple 
#print(type(y))
x += y 
print(x)

('Apple', 'Banana', 'America', 'India', 'Mango', 'America', 'Simplified Learner', 'Bangalore')

2.9 â–º Remove Items
Note: We cannot remove items in a tuple.
Tuples are unchangeable, so we cannot remove items from it, but we do so using our same alternative

Example â†’
Convert the tuple into a list, remove "Mango", and convert it back into a tuple:

In [44]:
x = ("Apple","Banana","America","India","Mango","America","Simplified Learner")
y = list(x)
y.remove("Mango")
#print(y)
x = tuple(y)
print(x)

('Apple', 'Banana', 'America', 'India', 'America', 'Simplified Learner')

â–º We can delete the tuple completely:

In [45]:
my_tuple = ("Apple","Banana","America","India","Mango","America","Simplified Learner")
del my_tuple
print(my_tuple) # this will show error because the tuple is no longer exists

NameError: name 'my_tuple' is not defined

2.10 â–º Unpack Tuples
â†’ Unpacking a Tuple
When we create a tuple, we normally assign values to it. This is called "packing" a tuple

Example : Packing a tuple:

In [46]:
my_tuple = ("Apple","Banana","India","Mango","Simplified Learner")
print(my_tuple)

('Apple', 'Banana', 'India', 'Mango', 'Simplified Learner')

â†’ But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking"
Example : Unpacking a tuple:

In [47]:
my_tuple = ("Apple","Banana","India","Mango","Simplified Learner")

(red,yellow,tricolor,tasty,Awesome) = my_tuple

print(red)
print(yellow)
print(tricolor)
print(tasty)
print(Awesome)

Apple
Banana
India
Mango
Simplified Learner

NOTE : The number of variables must match the number of values in the tuple, if not, we must use an asterisk to collect the remaining values as a list.

â†’ Using Asterisk*
If the number of variables is less than the number of values, we can add an * to the variable name and the values will be assigned to the variable as a list

Example : Assign the rest of the values as a list called "red":

In [48]:
my_tuple = ("Apple","Banana","India","Mango","Simplified Learner")

(red,yellow, *Awesome) = my_tuple

print(red)
print(yellow)
print(Awesome)

Apple
Banana
['India', 'Mango', 'Simplified Learner']

â†’ If the asterisk is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left.

Example : Add a list of values the "tropic" variable:

In [49]:
my_tuple = ("Apple","Banana","India","Mango","Simplified Learner")

(red, *yellow, Awesome) = my_tuple

print(red)
print(yellow)
print(Awesome)

Apple
['Banana', 'India', 'Mango']
Simplified Learner

2.11 â†’ Loop Through a Tuple
We can loop through the tuple items by using a for loop.

In [50]:
my_tuple = ("Apple","Banana","India","Mango","Simplified Learner")
for x in my_tuple:
    print(x)

Apple
Banana
India
Mango
Simplified Learner

â–º Loop Through the Index Numbers
We can also loop through the tuple items by referring to their index number.
Use the range() and len() functions to create a suitable iterable.

In [51]:
my_tuple = ("Apple","Banana","India","Mango","Simplified Learner")
for i in range(len(my_tuple)):
    print(my_tuple[i])

Apple
Banana
India
Mango
Simplified Learner

â–º Using a While Loop
We can loop through the list items by using a while loop.

Use the len() function to determine the length of the tuple, then start at 0 and loop your way through the tuple items by refering to their indexes.

Remember to increase the index by 1 after each iteration

In [52]:
my_tuple = ("Apple","Banana","India","Mango","Simplified Learner")
i = 0 
while i < len(my_tuple):
    print(my_tuple[i])
    i = i + 1

Apple
Banana
India
Mango
Simplified Learner

2.12 â–º Join Tuples

â†’Join Two Tuples
To join two or more tuples you can use the + operator:

In [54]:
my_tuple1 = ("Apple","Banana","India","Mango","Simplified Learner")
my_tuple2 = (1,2,5)

tuple3 = my_tuple1 + my_tuple2
 
print(tuple3)

('Apple', 'Banana', 'India', 'Mango', 'Simplified Learner', 1, 2, 5)

â–º Multiply Tuples
If we want to multiply the content of a tuple a given number of times, we can use the * operator:
Example : Multiply the fruits tuple by 2:

In [60]:
my_tuple = ("Apple","Banana","India","Mango","Simplified Learner")
my_tuple4 = my_tuple * 2
print(my_tuple4)

('Apple', 'Banana', 'India', 'Mango', 'Simplified Learner', 'Apple', 'Banana', 'India', 'Mango', 'Simplified Learner')

2.13 â–º Tuple count() Method
Example : Return the number of times the value 5 appears in the tuple:

In [2]:
my_tuple = (1,5,6,8,-9,5,7,6,33,5,5,1,5,5,54,5)
x = my_tuple.count(5)
print(x)

7

â–º Tuple index() Method 
Example : Search for the first occurence of value 6, and return postion

In [1]:
my_tuple = (1,5,-8,6,8,-9,6,5,7,6,33,5,5,14,5)

x = my_tuple.index(6)
print(x)

3